#appTable a:link,
#appTable a:hover,
#appTable a:focus,
#appTable a:visited,
#appTable a:active {
    color: rgb(51, 153, 102);
}
#appTable thead {
    background-color: rgb(51, 153, 102);
    color: whitesmoke;
}
#appTable_wrapper .dataTables_paginate .paginate_button:link,
#appTable_wrapper .dataTables_paginate .paginate_button:visited,
#appTable_wrapper .dataTables_paginate .paginate_button:focus,
#appTable_wrapper .dataTables_paginate .paginate_button:active,
#appTable_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
}
#appTable_wrapper .paginate_button.previous.disabled,
#appTable_wrapper .paginate_button.previous.disabled:link,
#appTable_wrapper .paginate_button.previous.disabled:visited,
#appTable_wrapper .paginate_button.previous.disabled:focus,
#appTable_wrapper .paginate_button.previous.disabled:active,
#appTable_wrapper .paginate_button.previous.disabled:hover,
#appTable_wrapper .paginate_button.next.disabled,
#appTable_wrapper .paginate_button.next.disabled:link,
#appTable_wrapper .paginate_button.next.disabled:visited,
#appTable_wrapper .paginate_button.next.disabled:focus,
#appTable_wrapper .paginate_button.next.disabled:active,
#appTable_wrapper .paginate_button.next.disabled:hover {
    color: #990000 !important;
    background: transparent;
    cursor: not-allowed;
}
#appTable_wrapper .dataTables_paginate .paginate_button.current {
    background: rgb(51, 153, 102);
    color: whitesmoke !important;
    border: none;
}
#appTable_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgb(51, 153, 102);
    color: whitesmoke;
}
#appTable .sorting_asc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAdUlEQVQ4je3PoQ3CQBiG4auBhIQpcJ0BwxhINJo96ADdo6qLVNYjMKSYp+YEudRcKzD3Jr998v0hlEqlJFwx4bNwE2452B6d5Xocc9ed8U6gFy65nwZUaBKsRZWNRfCEIUIj6lXQD3jHF49NUMR2eOKwGftbM0VhnY+7Lv16AAAAAElFTkSuQmCC);
}
#appTable .sorting_desc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAbUlEQVQ4je3PIQ6CYACGYf4Cm5unoHEGCscgms3cQw7APUxexGgnUByWh0DSUX6w6Hi2r77blyQ/CwdckH4j1uCF89ZQgYfZHfnaUEDnXYuwJlah/4gNKGNDR9wsuyKLiZ0w4rmwEXXs093u/02KnZ2P86L05QAAAABJRU5ErkJggg==);
}
#appTable .none {
    color: #990000;
}
#comuniSearch::-moz-selection {
  color: whitesmoke;
  background: #990000;
}
#comuniSearch::selection {
  color: whitesmoke;
  background: #990000;
}
#comuniSearch,
#app .twitter-typeahead {
    width: 100%;
}
#app .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#app .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#app .search-comuni {
    padding: 2rem 0;
    background-color: #006699;
    margin-bottom: 2rem;
}
#app .tt-menu {
    background-color: white;
    border: 1px solid #006699;
}
.tt-menu::after {
    padding: 0 0.6rem;
    background-color: #006699;
    content: "\a0";
    color: whitesmoke;
    font-size: smaller;
    display: block;
}
#app .tt-suggestion {
    cursor: pointer;
    display: block;
    padding: 0.2rem 0.6rem;
}
#app .tt-cursor,
#app .tt-suggestion:hover {
    background-color: #006699;
    color: whitesmoke;
}
